<%
target_class = "app-local__views__shared__message__loading"
%>
<div class="<%= target_class %> flex justify-center items-center h-52 text-gray-500 font-sans text-lg opacity-0 transition-opacity duration-500 ease-in">
    <div class="w-8 h-8 border-4 border-gray-300 border-t-gray-700 rounded-full animate-spin mr-2"></div>
    <div>読み込み中…</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.<%= target_class %>').forEach((el) => {
      setTimeout(() => {
        el.classList.remove('opacity-0');
        el.classList.add('opacity-100');
      }, 1000);
    });
  });
</script>
