<% common_classes = "px-4 py-2 rounded my-2 w-full text-center" %>

<% if notice %>
  <div class="bg-green-100 border border-green-400 text-green-700 <%= common_classes %>">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="bg-red-100 border border-red-400 text-red-700 <%= common_classes %>">
    <%= alert %>
  </div>
<% end %>