<div class="my-3">
  <%= form.label :created_at %><br />
  <%= user.created_at.strftime("%Y-%m-%d %H:%M") %>
</div>

<div class="my-3">
  <%= form.label :discarded_at %><br />
  <%= user.discarded_at ? user.discarded_at.strftime("%Y-%m-%d %H:%M") : 'none' %>
</div>

