<% breadcrumb :new_admin_user %>

<h2 class="app-h2">新規ユーザー</h2>

<%= form_with(model: @user, url: admin_users_path, scope: :user) do |form| %>
  <%= render "form", form: form, user: @user %>

  <div class="my-2">
    <%= form.submit "確定", class: "app-btn-primary w-40", name: "confirm" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "一覧", admin_users_path, class: "app-link-normal" %>
</div>
