<div class="space-y-5">
  <% @products.each do |product| %>
    <div class="transition hover:bg-gray-50 border-2 p-5 rounded cursor-pointer"
    onclick="location.href = '<%= product_path(product) %>'">
      <div class="text-xl"><%= product.name %></div>
      <div class="mt-5 text-sm text-gray-400"><%= product.description %></div>
    </div>
  <% end %>
</div>