<nav class="bg-gray-200 shadow-md w-full mb-1">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render 'layouts/shared/navbar/primary' %>

    <%= render 'layouts/shared/navbar/responsive' %>
  </div>
</nav>
