<% breadcrumbs.tap do |links| %>
  <% if links.any? %>
    <div class="mb-5 text-sm mx-3 mt-4">
      <% links.each_with_index do |link, index| %>
        <% if index != 0 %>
          >
        <% end %>
        <% if link.current? %>
          <%= link.text %>
        <% else %>
          <%= link_to link.text, link.url, class: "app-link-normal" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>