<% breadcrumb :admin_products %>

<h2 class="app-h2">商品一覧</h2>

<div class="my-10">
  <%= link_to "新規作成", new_admin_product_path, class: "app-btn-primary" %>
</div>

<div class="my-3">
  <%= render "search" %>
</div>

<%= render "list" %>

<div class="mt-5">
  <%= paginate @products %>
</div>
